<!-- src/app/pages/lost-password/lost-password.component.html -->
<header class="header">
  <img src="/Logo.png" alt="Videoflix" class="logo" routerLink="/register" />
  <button class="btn login-btn" routerLink="/login">Log in</button>
</header>

<section class="hero">
  <h1>Forgot your <span class="highlight">password</span>?</h1>
  <p>
    Enter your <span class="highlight">email</span> and we’ll send you a reset
    link.
  </p>

  <form
    [formGroup]="form"
    (ngSubmit)="submit()"
    class="lost-form"
    novalidate
  >
    <div class="input-group">
      <img src="/SignUp/mail.png" alt="Mail Icon" />
      <input
        type="email"
        formControlName="email"
        placeholder="Email Address"
        (blur)="email.markAsTouched()"
      />
    </div>

    <div class="error-messages" *ngIf="email.touched && email.invalid">
      <small *ngIf="email.hasError('required')">Please enter your email.</small>
      <small *ngIf="email.hasError('email')">Please enter a valid email.</small>
    </div>

    <button type="submit" class="btn reset-btn" [disabled]="form.invalid">
      Send Reset Link
    </button>

    <div
      class="server-message"
      *ngIf="serverMsg"
      [class.success]="isSuccess"
      [class.error]="!isSuccess"
    >
      <small>{{ serverMsg }}</small>
    </div>
  </form>
</section>

<footer class="footer">
  <a routerLink="/privacy">Datenschutz</a>
  <a routerLink="/imprint">Impressum</a>
</footer>
