html, body {
  height: 100%;
  margin: 0;
  background: #141414;   /* dunkles Grau – Netflix-Style */
  color: #6b1bff;           /* Standard-Schrift in Weiß für Kontrast */
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  height: 8px;      /* horizontale Leiste */
  width:  8px;      /* vertikale Leiste   */
}
::-webkit-scrollbar-track {
  background: #141414;
}
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}

/* Autofill override */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* Hintergrund wieder transparent machen */
  -webkit-box-shadow: 0 0 0px 1000px rgba(0,0,0,0.3) inset !important;
  box-shadow: 0 0 0px 1000px rgba(0,0,0,0.3) inset !important;

  /* Textfarbe beibehalten */
  -webkit-text-fill-color: #fff !important;
}

/* Wenn du zudem den Placeholder-Fade deaktivieren möchtest */
input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}


